* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.headerInformacao {
  padding: 20px;
  background-color: #bf2a2a;
  color: white;
  font-size: clamp(14px, 1.5vw, 18px);
  margin: 0;
}
.info-lista {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  list-style-type: none;
  margin: 0 auto;
}

.info-header {
  background: #8c1b1b;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.info-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  color: white;
  font-size: clamp(14px, 1.5vw, 18px);
  list-style-type: none;
  margin: 0 auto;
}

.logo {
  margin-top: 10px;
  margin-bottom: 10px;
}

.logo img {
  width: 85px;
  height: auto;
  border-radius: 50%;
}

.page {
  margin: 20px;
  gap: 20px;
}

.news {
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: space-between;
  margin-block: 20px;
  margin-top: 20px;
  border: 1px #cf2727 solid;
  padding: 20px;
}

.place {
  width: 100%;
  background-color: #fff;
  border: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 24px;
  padding: 20px;
  overflow: hidden;
}

.place img {
  border: 1px solid #ccc;
  float: left;
  margin: 10px 20px 10px 0;
  padding: 2px;
  border-radius: 12px;
  width: auto;
  max-width: 40%;
}

.carousel-inner img {
  height: 500px;
  object-fit: cover;
  object-position: center;
}

.carousel-control-prev-icon {
  background-color: #bf2a2a;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 16 16'%3e%3cpath d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z'/%3e%3c/svg%3e");
}

.carousel-control-next-icon {
  background-color: #bf2a2a;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 16 16'%3e%3cpath d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

.place-carousel {
  padding: 100px;
  margin: auto;
}
